/*Left Side Split Browser*/
.Side-Navigation{
  background-color: white;
  color: #f2c5dc;
  width: 40%;
  height: 95vh;
  position: fixed;
  float: left;
  text-align:center;
  border: 40px solid #f2c5dc;
  margin-top: 0px; 
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 10px;
}
/*Right Side Split Browser*/
.right-side-page{
  background-color: white;
  color: #5bc5ee;
  width:59%;
  height: 100%;
  float: right;
  text-align: center;
}
/*Left Side Intro Text*/
.intro-text .name {
    font-size: 3em;
    display: block;
    font-family: 'Arsenal', sans-serif;
  }

.intro-text .skills {
    font-size: 2.5em;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
  }
/*Right Side, Headers and Paragraphs*/
h2{
  font-family: 'Arsenal', sans-serif;
  color: #FFBB00;
}
h3{
  font-family: 'Arsenal', sans-serif;
  color: #FFBB00;
}
h4{
  font-family: 'Poiret One', cursive;
  color: #C4D821;
}
p{
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin: 2.5%;
  color: #C4D821;
}
/*Images*/
.dino{
  margin: 5%;
  height: 400px;
}
.profileimg{
  margin-top: 10px;
  margin-bottom: 0px;
  width: 400px;
  height: 400px;
}
/*Overlay CSS Effect*/
.container {
  position: relative;
  width: 80%;
  display: block;
}
.portfolio1{
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  width: 70%;
  opacity: 0;
  transition: .5s ease;
}
.container:hover .overlay {
  opacity: 1;
  background-color: #f2c5dc;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
