/*Fixed side/Left Side Split view window*/
.Side-Navigation{
  background-color: white;
  color: #f2c5dc;
  width: 40%;
  height: 95vh;
  position: fixed;
  float: left;
  text-align:center;
  border: 40px solid #f2c5dc;
  margin-top: 0px; 
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 50px;
}
/*Right Side Split Browser*/
.right-side-page{
  background-color: white;
  color: #5bc5ee;
  width:59%;
  height: 100%;
  float: right;
  text-align: center;
}
/*Left Side Intro Text*/
.intro-text .name {
    font-size: 3em;
    display: block;
    font-family: 'Arsenal', sans-serif;
  }

.intro-text .skills {
    font-size: 2.5em;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
  }
/*Right Side, Headers and Paragraphs*/
h2{
  font-family: 'Arsenal', sans-serif;
  color: #FFBB00;
  margin-top: 4%;
}
h3{
  font-family: 'Arsenal', sans-serif;
  color: #5bc5ee;
}
h4{
  font-family: 'Poiret One', cursive;
  color: #718800;
}
p{
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin: 2.5%;
  color: #718800;
}
/*Icons*/
i{
  color: #5bc5ee;
}
/*Images*/
.dino{
  margin: 5%;
  height: 400px;
}
.profileimg{
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 10%;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border: 40px groove #5bc5ee;
  position: block;
}
.portfolioimg{
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 88%;
}
/*Overlay CSS Effect*/
/*overlay1*/
.container1 {
  position: relative;
  width: 100%;
  display: block;
}
.overlay1 {
  position: absolute;
  top: 1%;
  bottom: 0;
  left: 25%;
  right: 0;
  height: 22%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5bc5ee;
}
.container1:hover .overlay1 {
  opacity: 1;
}
/*overlay2*/
.container2 {
  position: relative;
  width: 100%;
  display: block;
}

.overlay2 {
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 25%;
  right: 0;
  height: 30%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5bc5ee;
}
.container2:hover .overlay2{
  opacity: 1;
}
/*overlay3*/
.container3 {
  position: relative;
  width: 100%;
  display: block;
}
.portfolio3{
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 88%;
}
.overlay3 {
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 25%;
  right: 0;
  height: 70%;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5bc5ee;
}
.container3:hover .overlay3 {
  opacity: 1;
}

/*overlay4*/
.container4 {
  position: relative;
  width: 100%;
  height: 10px;
  display: block;
}
.portfolio4{
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 10%;
  width: 88%;
}
.overlayfour {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 25%;
  right: 0;
  height: 320px;
  width: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5bc5ee;
}
.container4:hover .overlayfour{
  opacity: 1;
}
/*overlay text*/
.text {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}
#overlayicon{
  color: white;
}
/*hover profile img effect */
.profileimg:hover {
  border: 40px groove #f2c5dc;
}
a:link {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .Side-Navigation{
      height: 50vh;
      width: 100%;  
      position: relative;
      float: left;
      margin-right: 0px;
       border: 25px solid #f2c5dc;
    }
}
